/* * {
    margin: 0;
    padding: 0;
} */

html {
    font-size: 10px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

textarea {
    width: 100%;
    height: 20em;
    border: none;
    resize: none;
  }
.title textarea {
    width: 100%;
    height: 15px;
    border: none;
    resize: none;
}

.header {
    height: 145px;
    text-align: center;
    border-bottom: 1px solid #999;
}

.header_logo h1 {
    font: bold 38px 'arial';
    padding-top: 14px;
    letter-spacing: 2px;
}

.header_logo p {
    font: bold 12px 'arial';
    letter-spacing: 2px;
    margin-top: 5px;
}

.header_gnb a {
    display: block;
    font: bold 14px 'arial';
    color: #999;
    margin: 0px 16px;
    letter-spacing: 1px;
}

.box {
    width: auto;
    /* display: inline-block; */
}

.index_wrap {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_wrap1 {
    margin: 10px;
    width: 50%;
}

.index_wrap2 {
    margin: 10px;
    width: 100%;
    /* border: solid #999; */
    

}

.index_wrap2 h1 {
    font: bold 30px 'arial';
    text-align: center;
    width: 100%;
    /* margin-top : 10%;
    margin-bottom: 15%; */
    /* letter-spacing: 2px; */
}

.index_wrap2 input {
    font: bold 'arial';
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid #999;
    width: auto;
    height: 3em;
    border-radius: 2px;
    margin-bottom: 2rem;
}

.index_wrap2 button {
    font: bold 'arial';
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid #1dc078;
    background: #1dc078;
    color: #fff;
    width: 170px;
    height: 3em;
    border-radius: 2px;
    margin-top: 5px;
}

.index_wrap2 a {
    font: bold 'arial';
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid #1dc078;
    background: #1dc078;
    color: #fff;
    width: 100%;
    /* height: 3em; */
    border-radius: 2px;
    align-items: center;
    
}

.bt_signin {
    /* margin-left: 10px; */
    /* margin-right: 0px; */
    
}

.bt_signup {
    margin-right: 10px;
}

.login_button_wrap {
    width: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}


.signup {
    width: 15%;
    /* border: 4px solid #000; */
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 42%;
    /* justify-content: center; */
}

.signup h1 {
    font: bold 30px 'arial';
    text-align: center;
    width: 100%;
}

.signup_info {
    position: relative;
    text-align: center;
    /* border: 4px solid #000; */
    align-items: center;

    /* justify-content: center; */

}

.signup_info h2 {
    font: bold 15px 'arial';
    text-align: left;
    margin-bottom: 7px;
    align-items: center;
}


.signup_info p {
    font: bold 12px 'arial';
    text-align: left;
    color: #999;
    align-items: center;
    /* letter-spacing: 2px; */
    /* margin-top: 5px; */
}

.signup_info input {
    width: 30rem;
    height: 2.5em;
    border-radius: 6px;
    font-size: small;
    text-align: left;
    padding-left: 10px;
    align-items: center;
    
}   

.index_wrap2 {
    margin: 10px;
    width: 40%;
    /* border: solid #999; */

}


.login_complete h2 {
    font: 15px bold 'arial';
    
}

.board_wrap {
    width: 1000px;
    margin: 30px auto;
}


.board_title {
    margin-top: 10px;
    margin-bottom: 30px;
    
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #868e96;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap button {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #1dc078;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #1dc078;
    color: #fff;
}

.bt_wrap button.on {
    background: #1dc078;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #868e96;
}

.board_list>div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list>div.top {
    border-bottom: 1px solid #999;
}

.board_list>div:last-child {
    border-bottom: 1px solid #868e96;
}

.board_list>div>div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list>div.top>div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    text-align: left;
}

.board_list .top .title {
    text-align: center;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 10%;
}

.board_list .count {
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

.board_view {
    width: 100%;
    border-top: 2px solid #000;
}

.board_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.board_view .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.board_view .info dl {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.board_view .info dl:first-child {
    padding-left: 0;
}

.board_view .info dl::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background: #ddd;
}

.board_view .info dl:first-child::before {
    display: none;
}

.board_view .info dl dt,
.board_view .info dl dd {
    display: inline-block;
    font-size: 1.4rem;
}

.board_view .info dl dt {}

.board_view .info dl dd {
    margin-left: 10px;
    color: #777;
}

.board_view .cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}

.board_write {
    border-top: 2px solid #000;
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 50px;
}

.board_write .title dd {
    width: calc(100% - 100px);
}

.board_write .title input[type="text"],
.board_write .info input[type="text"],
.board_write .info input[type="password"] {
    padding: 10px;
    box-sizing: border-box;
}

.board_write .title input[type="text"] {
    width: 80%;
}

.board_write .cont {
    border-bottom: 1px solid #000;
}

.board_write .cont textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    resize: vertical;
}
