.signup {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  justify-content: center;
}

.signup h1 {
  font-size: 25px;
  text-align: center;

}

.signup_info {
  margin: auto;
  width: 100%;
}

.signup_info h2 {
  font-size: 20px;

}

.signup_info p {
  font-size: 15px;

}

.signup_info input {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  font-size: small;
  /* text-align: left; */
  padding : 1rem;
  align-items: center;
  /* margin: auto; */
  margin-bottom: 1rem;

}

.signup_bt {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}


.signup_bt button {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #868e96;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 1.4rem;
}

.signup_bt button.on {
  background-color: #1dc078;
  color: white;
  border-color: #1dc078;
}